#title {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    text-align: center;
    font-size: 60px;
}

#question-frame {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
}

#answer-frame {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    text-align: center;
    font-size: 28px;
}

